.newTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  margin-top: -36px;
}

.newTask input {
  box-sizing: border-box;
  width: 638px;
  height: 54px;
  background: var(--gray-500);
  border: 1px solid var(--gray-900);
  border-radius: 8px;
  color: var(--white);
  margin: 8px;

}

.newTask input::placeholder {   
    padding-left: 16px;
}

.newTask button {
    background-color: var(--blue-dark);
    border-radius: 8px;
    width: 90px;
    height: 52px;
    color: var(--white);
    border: 0px;
    font-weight: 700;
}
